body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.searchlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Watchlist-text and button */
.watchlist-text {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  font-family: "SuperRichExpanded", sans-serif;
}

.watchlist-text,
h3 {
  align-items: center;
  font-family: "SuperRichExpanded", sans-serif;
  margin-bottom: 5px;
  font-size: 2rem;
}

.header-watchlist-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-family: "SuperRichExpanded", sans-serif;
}

/* Search-container and input */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  font-family: "SuperRichExpanded", sans-serif;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  flex: 1;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  height: 3rem;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 10px;
}

.search-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.search-button::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: linear-gradient(to bottom, gray, white);
  border-radius: inherit;
}

.results-grid {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 20rem;
  overflow: auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: Helvetica, sans-serif;
}

.movie-title {
  width: 100%;
  padding: 0 0 10px 0;
  border-bottom: 3px solid white;
}

h1 {
  display: flex;
  align-items: start;
  font-family: "SuperRichExpanded", sans-serif;
  font-size: 3rem;
  margin-bottom: 50px;
}

h2 {
  display: grid;
  align-items: center;
  font-family: "SuperRichExpanded", sans-serif;
  font-size: 3rem;
}
.search-container,
h4 {
  display: flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.not-found,
.movie-title {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 10px;
}

.not-found {
  font-size: 1.5rem;
  margin-top: 10px;
  color: gray;
}

/* Responsive styles */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: row;
    align-items: center;
  }

  .search-button {
    margin-left: 10px;
    width: auto;
  }

  .results-grid {
    max-width: 100%;
  }

  .center-content h1 {
    font-size: 2rem;
  }

  .center-content h2 {
    font-size: 1.5rem;
  }

  .center-content h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .search-input {
    padding: 8px;
    font-size: 1rem;
  }

  .search-button {
    padding: 8px;
    width: auto;
    margin-left: 0; 
  }

  .results-grid {
    padding: 8px;
  }

  .movie-title {
    font-size: 1rem;
  }

  .center-content h1 {
    font-size: 1.5rem;
  }

  .center-content h2 {
    font-size: 1.2rem;
  }

  .center-content h4 {
    font-size: 1rem;
  }
  .watchlist-text {
    justify-content: center;
  }

  .watchlist-text,
  h3 {
    font-size: 1.2rem;
  }
}
